* {
  box-sizing: border-box;
}


body {
  background-color: rgb(185, 181, 181);
  background-image: url("../images/background.png");
}

main {
  width: 80%;
}

#logo {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: teal;
}
/*.header h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: teal;
}
*/
/*
  These rules take effect when the browser's width
  is either 400px or less.
*/
@media screen and (max-width: 400px) {
  /* The body's bg color will be #333 
  body {
    background-color: #333;
  }
  */

  /* The main content width will be 95% */
  main {
    width: 95%
  }
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
